$pink: #db4863;
$dark-grey: #3f3f46;
$light-grey: #ccc;
$cream: #fff2e1;
$off-white: #fafafa;
$white: #ffffff;
$black: #000000;

// breakpoints
$breakpoints-xs: 0;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1440px;
