@import "/app/styles/vars";

.replyWrapper {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 24px;

  @media screen and (max-width: $breakpoints-lg) {
    padding-left: unset;
  }

  div {
    &:nth-child(2) {
      background-color: white;
      padding: 24px 12px;

      > *:focus-visible {
        outline: none;
      }
    }
  }

  ul,
  ol {
    li {
      margin-left: 24px;
    }
  }

  .aiNotice {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
  }
}
